<!DOCTYPE html>
<html>
<head>
	<title>Yelp Scraper</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
	<h1 class="text-center">Yelp Scraper</h1>
	<br>
	<br>
	<br>
	<div class="container">

		<form action="/" method="POST">
			<div class="col-md-4">
				<div class="input-group mb-3">
				  <span class="input-group-text" id="inputGroup-sizing-default">Business</span>
				  <input type="text" class="form-control" name="business" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required="required">
				</div>
			</div>
			<div class="col-md-4">
				<div class="input-group mb-3">
				  <span class="input-group-text" id="inputGroup-sizing-default">Location</span>
				  <input type="text" class="form-control" name="location" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required="required">
				</div>
			</div>
			<div class="col-md-4">
				<div class="input-group mb-3">
				  <span class="input-group-text" id="inputGroup-sizing-default">Number of pages</span>
				  <input type="number" class="form-control" name="pages" max="24" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required="required">
				</div>
			</div>
			
			
			<div class="text-center">
		       <button type="submit" class="btn btn-success" value="submit">Collect</button>
		    </div>
		</form>
		


	</div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>